{% load static  %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="{% static 'count/css/style.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <script src="script.js"></script> -->
    <div id="registros-cargo"></div><br><br><br>
    <div id="registros-cincuenta"></div>
    <!-- TABLA DIRECTA DE JSON(DE DF) SIN JS  -->
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>ITEMTYPE</th>
          <th>PRECIO DE VENTA</th>
        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if dt_j %}  
      {% for i in dt_j %}
        <tr>
          <td>{{i.cuenta_c}}</td> 
          <td>{{i.nombre_c}}</td>      
          <td>{{i.movimiento}}</td> 
          <td>{{i.price}}</td> 
          <td>{{cuenta_cin}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>



    </div>  
  </body>
  <script 
          src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
          integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
          crossorigin="anonymous">     
  </script>
  <!--<script src="{% static 'count/js/demo.js' %}"></script> -->
 
 
 
 <script>
    /* PROCESAMIENTO DE DF*/
    let n="{{json1}}"
    let OutQuotes= n.replace(/(&quot\;)/g,"\"")
    console.log('QutQ', OutQuotes)
    let art = JSON.parse(OutQuotes);
    console.log('art: ',art)
    
    /* PROCESAMIENTO DE  CARGO */
    let arrc="{{cargo|safe}}" 
    console.log("Objeto Cargo En Bruto: ", arrc)
    let strc = arrc.replace(/'/g, '"')
    strc = strc.replace(/Decimal/g, '')
    strc = strc.replace(/\(/g, '')
    strc = strc.replace(/\)/g, '')
    console.log('Objeto Cargo Editado: ', strc)
    
    myObjectc = JSON.parse(strc);
    console.log('Objeto Editado a JSON: ', myObjectc)

    function displayCargos(cargos){
    let table = '<table>';
    table += '<tr><th>CUENTA</th><th>NOMBRE</th><th>CUENTA CIN...</th><th>Más</th></tr>';
    cargos.map((cargo, index) => {
        table = table + '<tr>',
        table = table + '<td>' + `${cargo.cuenta_c}` + '</td>',
        table = table + '<td>' +  `${cargo.nombre_c}` + '</td>',
        table = table + '<td>' +  `${cargo.cuenta_cin}` + '</td>',
        table = table + '<td>' + `${cargo.price}` + '</td>'
    });  
        table += "</table>"
        document.getElementById("registros-cargo").innerHTML = table;
    }
    displayCargos(myObjectc);
     
    /* PROCESAMIENTO DE  CINCUENTA */
    let arrcin="{{cincuenta|safe}}" 
    console.log("Objeto Cincuenta En Bruto: ", arrcin)
    let strcin = arrcin.replace(/'/g, '"')
    strcin = strcin.replace(/Decimal/g, '')
    strcin = strcin.replace(/\(/g, '')
    strcin = strcin.replace(/\)/g, '')
    console.log('Objeto Cincuenta Editado: ', strcin)
    
    myObjectcin = JSON.parse(strcin);
    console.log('Objeto Cincuenta a JSON: ', myObjectcin)

    function displayCincuenta(cincuenta){
    let tablec = '<table>';
    tablec += '<tr><th>ID</th><th>Name</th><th>Rank</th></tr>';
    cincuenta.map((cin, index) => {
        tablec = tablec + '<tr>',
        tablec = tablec + '<td>' + `${cin.cuenta}` + '</td>',
        tablec = tablec + '<td>' +  `${cin.nombre}` + '</td>',
        tablec = tablec + '<td>' + `${cin.movimiento}` + '</td>'
    });  
        tablec += "</table>"
        document.getElementById("registros-cincuenta").innerHTML = tablec;
    }
  
  
  displayCincuenta(myObjectcin);

   /* TABLA RELACIONAL */
   /* Los dos jsons   myObjectc y myObjectcin */
   let newArray = myObjectc.filter((item) =>{
    /* Aquí podría ser el nombre del profile */ 
    return item.cuenta_cin === '0123'
    });
   console.log("Esto es newArray: ", newArray)


  /* CÁLCULO */   
  /* sacar los precios del objeto */
    let arr_str = myObjectc.map((cargo, index) => {
        return cargo.price
    });
    console.log('Resultado: ' , arr_str) 
  // Convertir los str a números
    let arr_numb = arr_str.map(i=>Number(i)) 
  // Reducer
  let acumulador= arr_numb.reduce((acc, current)=>acc+current, 0)
  console.log('Acumulador: ', acumulador) 
  </script>

    
     
</html>