{% load static  %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="{% static 'count/css/style.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <script src="script.js"></script> -->
    <div id="registros-list">
      <!-- The div element where the movies table will be inserted --> 
    </div>  
  </body>
  <script 
          src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
          integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
          crossorigin="anonymous">     
  </script>
  <!--<script src="{% static 'count/js/demo.js' %}"></script> -->
  <script>
     let arr="{{elementos|safe}}" 
     let str = arr.replace(/'/g, '"')
     str = str.replace(/Decimal/g, '')
     str = str.replace(/\(/g, '')
     str = str.replace(/\)/g, '')
     console.log('str: ',str)
     

     myObject = JSON.parse(str);
     console.log('Objeto Completo: ', myObject)

    
    let registros =  myObject

    function displayRegistros(registros){
    let table = '<table>';
    table += '<tr><th>ID</th><th>Name</th><th>Rank</th></tr>';
    registros.map((registro, index) => {
        table = table + '<tr>',
        table = table + '<td>' + `${registro.cuenta}` + '</td>',
        table = table + '<td>' +  `${registro.nombre}` + '</td>',
        table = table + '<td>' + `${registro.price}` + '</td>'
    });  
        table += "</table>"
        document.getElementById("registros-list").innerHTML = table;
    }

    displayRegistros(registros);

     
  /* sacar los precios del objeto */
    let arr_str = registros.map((registro, index) => {
        return registro.price
    });

    console.log('Resultado: ' , arr_str)
   
  // Convertir los str a números

   let arr_numb = arr_str.map(i=>Number(i))

  // Reducer
  let acumulador= arr_numb.reduce((acc, current)=>acc+current, 0)
  console.log('Acumulador: ', acumulador)

  </script>

    
     
</html>